* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  background-color: white;
  color: #7272d9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #eae9e9;
}

.head {
  font-size: 36px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding-top: 40px;
}

main {
  background-color: rgba(249, 245, 249, 0.832);
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  color: #7272d9;
}

.container {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}


.add-card {
  background: #fff;
  padding: 25px;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.add-card input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #a5a3a3;
}

.add-card button {
  padding: 10px 16px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-grid {
  display: grid;
  gap: 20px;
}

@media (max-width: 640px) {
  .task-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .task-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .task-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 640px) {
  .add-card {
    flex-direction: column;
  }
}


.task-card {
  background: white;
  padding: 16px 18px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  font-family: sans-serif;
   transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.task-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

.task-card.completed {
  border-left: 5px solid green;
  opacity: 0.9;
}

.task-card h3 {
  margin: 0 0 8px;
}

.task-card p {
  font-size: 14px;
  color: #555;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.actions button {
  padding: 6px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: #10b981;
  color: white;
  cursor: pointer;
}

.delete {
  cursor: pointer;
  font-size: 18px;
}

.task-date {
  font-size: 12px;
  color: #777;
  margin: 5px 0;
}


footer {
  height: 50px;
  background-color: white;
  color: #7272d9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #eae9e9;

}